@page
@using ContosoCrafts.WebSite.Enums
@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.CreateModel

@{
    ViewData["Title"] = "Create Product";
}


<h1 class="theme-heading">Create New Product</h1>

<form method="post" enctype="multipart/form-data">
    <partial name="_ProductForm" model="@Model.FormModel" />
</form>

<script src="_framework/blazor.server.js"></script>