@page
@model ContosoCrafts.WebSite.Pages.Product.DeleteModel
@{
}

<h2>Delete Product</h2>

<form method="post">
    <input type="hidden" asp-for="Product.Id" />
    <div>
        <label>Title:</label>
        <input asp-for="Product.ProductName" readonly />
    </div>
    <div>
        <label>Description:</label>
        <input asp-for="Product.ProductDescription" readonly />
    </div>

    <p>Are you sure you want to delete this product?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="/Product/Index" class="btn btn-secondary">Cancel</a>
</form>