@page "{id}"
@using ContosoCrafts.WebSite.Services
@using ContosoCrafts.WebSite.Models
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.DeleteModel
@{
    ViewData["Title"] = "Delete page";
}

<h1>Delete Product</h1>

 <form method="post">
    <input type="hidden" asp-for="Product.Id" />
    <div>
        <label>Product Brand:</label>
        <input asp-for="Product.Brand" readonly disabled />
    </div>
    <div>
        <label>Product Name:</label>
        <input asp-for="Product.ProductName" readonly disabled />
    </div>
    <div>
        <label>Description:</label>
        <input asp-for="Product.ProductDescription" readonly disabled />
    </div>
     <div>
        <label>Product Url:</label>
        <input asp-for="Product.Url" class="form-control mb-2" readonly disabled />
    </div>
     <div>
        <label>Product Type:</label>
        <input asp-for="Product.ProductType" readonly disabled />
    </div>

    <p>Are you sure you want to delete this product?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="Read" asp-route-id="Product.Id" class="btn btn-secondary">Cancel</a>
</form>