@page "{id}"
@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}

<h1 class="text-white">Read</h1>

<div class="content"
    style="background-image: url('@Model.Product.Image');
           height: 100vh;
           background-position: center;
           background-repeat: repeat;
           object-fit: cover;
          ">
    <div class="text-white" style="background-color: rgba(0, 0, 0, 0.8); height: 100%;">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div>
                <h5 class="mb-2" id="productTitle">@Model.Product.Brand</h5>
                <h5 class="mb-5">@(((ProductTypeEnum)@Model.Product.ProductType).DisplayName())</h5>
                <p>@Model.Product.ProductDescription</p>
            </div>
        </div>
    </div>
</div>
