@page "{id}"
@using ContosoCrafts.WebSite.Services
@using ContosoCrafts.WebSite.Models
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel

@{
    ViewData["Title"] = "Update page";
}

<h1>Update</h1>
<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Product.Id" />
    <div>
        <label>Product Brand:</label>
        <input asp-for="Product.Brand" class="form-control mb-2" />
    </div>
    <div>
        <label>Product Name:</label>
        <input asp-for="Product.ProductName" class="form-control mb-2" />
    </div>
    <div>
        <label>Upload Product Image:</label>
        <input asp-for="ImageFile" type="file" class="form-control" accept="image/*" />
    </div>
    <div>
        <label>Product Description:</label>
        <input asp-for="Product.ProductDescription" class="form-control mb-2" />
    </div>
    <div>
        <label>Product Url:</label>
        <input asp-for="Product.Url" class="form-control mb-2" />
    </div>
    <div>
        <label>Product Type:</label>
        <select asp-for="Product.ProductType" class="form-control mb-2">
            @foreach (var item in Enum.GetValues(typeof(ProductTypeEnum)))
            {
                <option value="@((int)item)">@(((ProductTypeEnum)item).DisplayName())</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="/Product/Read" asp-route-id="@Model.Product.Id" class="btn btn-secondary">Cancel</a>
</form>
