@page "{id}"
@using ContosoCrafts.WebSite.Enums
@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel

@{
    ViewData["Title"] = "Update page";
}

<h1 class="theme-heading">Update</h1>

<form method="post" enctype="multipart/form-data">
    <partial name="_ProductForm" model="@Model.FormModel" />
</form>