@page "{id}"
@using ContosoCrafts.WebSite.Services
@using ContosoCrafts.WebSite.Models
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel

@{
    ViewData["Title"] = "Update page";
}

<h1>Update</h1>
<form method="post">
    <input type="hidden" asp-for="Product.Id" />
    <div>
        <label>Title:</label>
        <input asp-for="Product.Brand" />
    </div>
    <div>
        <label>Upload Product Image:</label>
        <input asp-for="NewCategoryImage" type="file" class="form-control" />
    </div>
    <div>
        <label>Description:</label>
        <input asp-for="Product.ProductDescription" />
    </div>
    <button type="submit">Save</button>
</form>
