@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="jumbotron theme-jumbotron">
    <h1 class="theme-heading">@ViewData["Title"]</h1>
    <hr class="theme-hr my-2">
    <h2 class="theme-text">Team 1: SuperNova</h2>
    <h3 class="theme-text">Nassuel & Aarti</h3>
</div>