@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="jumbotron">
    <h1 class="">@ViewData["Title"]</h1>
    <hr class="my-2">
    <h2 class="">Team 1: SuperNova</h2>
    <h3 class="">Nassuel & Aarti</h3>
</div>