@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1 class="text-white">@ViewData["Title"]</h1>

<h2 class="text-white">Team 1: SuperNova</h2>

<h3 class="text-white">Nassuel & Aarti</h3>
